<%- include('header.ejs', {user: user}) %>
<section class="landing">
    <div class="background">
        <div class="contentp">
            <div class="content">
                <h1 class="display-4">Welcome to Jobinder</h1>
                <p class="lead mt-4">
                    Our agency acts as mediator to provide jobs. Both companies
                    and employees satisfaction is our concern.
                </p>
            </div>
        </div>
    </div>
    <div class="aboutUs container">
        <h2 class="my-5" style="text-align: center">About Us</h2>
        <div class="row m-0 d-flex justify-content-between">
            <div class="col-5 col-sm-6 mx-auto" style="max-width: 500px">
                <img
                    style="object-fit: cover"
                    src="../assets/img/kevin-matos-Nl_FMFpXo2g-unsplash.jpg"
                    alt=""
                />
            </div>
            <div class="col-7 col-sm-6">
                <div class="whatWeDo">
                    <h3>What do we do?</h3>
                    <p>
                        jobinder agency is the go-to agency to get the best job
                        suited for you skills and achivements.
                    </p>
                </div>
                <div class="whyUs">
                    <h3>Why Us?</h3>
                    <p>
                        Due to the Pandemic, a time has come that no one is
                        getting jobs, no matter how hard he/she worked in
                        studies or no matter how much he/she spends on his/her
                        studies, many people have lost their jobs because of
                        Corona.
                    </p>
                    <p>
                        Many fraud job providing agencies, website and apps have
                        used the pandemic to gain advantage, all these agencies
                        take money from those people by falsely promising of
                        100% job guarantee but our jobinder agency is not like
                        those agencies,we will only charge you when you are
                        hired.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="PriceCard mt-5 container px-3 px-sm-5">
        <h2 class="mb-0" style="text-align: center">Prices</h2>
        <p
            class="mb-5 lead"
            style="text-align: center; font-size: 25px; padding-top: -10px"
        >
            Pay us only when you got your job.
        </p>
        <div class="row gx-sm-5 gx-0 justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-sm-0">
                <div class="hover_card">
                    <div
                        class="
                            card-outer
                            d-flex
                            justify-content-center
                            align-items-center
                        "
                    >
                        <div class="card-inner mt-0" style="text-align: center">
                            <p class="lead pay-card-text">Pay us</p>
                            <h3 class="priceHeading">500rs</h3>
                            <p class="lead pay-card-text">if your salary is</p>
                            <h3 class="price">less than 10000rs</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-sm-0">
                <div class="hover_card">
                    <div
                        class="
                            card-outer
                            d-flex
                            justify-content-center
                            align-items-center
                        "
                    >
                        <div class="card-inner mt-0" style="text-align: center">
                            <p class="lead pay-card-text">Pay us</p>
                            <h3 class="priceHeading">800rs</h3>
                            <p class="lead pay-card-text">if your salary is</p>
                            <h3 class="price price-lg">
                                is b/w 10000rs and 15000rs
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-lg-0">
                <div class="hover_card">
                    <div
                        class="
                            card-outer
                            d-flex
                            justify-content-center
                            align-items-center
                        "
                    >
                        <div class="card-inner mt-0" style="text-align: center">
                            <p class="lead pay-card-text">Pay us</p>
                            <h3 class="priceHeading">1100rs</h3>
                            <p class="lead pay-card-text">if your salary is</p>
                            <h3 class="price price-lg">
                                is b/w 15000rs and 20000rs
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="hover_card">
                    <div
                        class="
                            card-outer
                            d-flex
                            justify-content-center
                            align-items-center
                        "
                    >
                        <div class="card-inner mt-0" style="text-align: center">
                            <p class="lead pay-card-text">Pay us</p>
                            <h3 class="priceHeading">1500rs</h3>
                            <p class="lead pay-card-text">if your salary is</p>
                            <h3 class="price price-lg">
                                is b/w 20000rs and 25000rs
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="hover_card">
                    <div
                        class="
                            card-outer
                            d-flex
                            justify-content-center
                            align-items-center
                        "
                    >
                        <div class="card-inner mt-0" style="text-align: center">
                            <p class="lead pay-card-text">Pay us</p>
                            <h3 class="priceHeading">1800rs</h3>
                            <p class="lead pay-card-text">if your salary is</p>
                            <h3 class="price price-lg">
                                is b/w 25000rs and 35000rs
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="hover_card">
                    <div
                        class="
                            card-outer
                            d-flex
                            justify-content-center
                            align-items-center
                        "
                    >
                        <div class="card-inner mt-0" style="text-align: center">
                            <p class="lead pay-card-text">Pay us</p>
                            <h3 class="priceHeading">2200rs</h3>
                            <p class="lead pay-card-text">if your salary is</p>
                            <h3 class="price">more than 35000rs</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-sec pt-3 mt-5" id="contact">
        <h2 class="h2" style="text-align: center">you can contact us here</h2>
        <div class="container">
            <div
                class="
                    d-flex
                    flex-wrap
                    justify-content-around justify-content-xxl-between
                    align-items-center
                "
            >
                <div class="card-contact">
                    <i class="fas fa-envelope"></i>
                    <h2 class="card-contact-title">Email</h2>
                    <p class="card-contact-info">helpjobinder@gmail.com</p>
                </div>
                <div class="card-contact">
                    <i class="fas fa-phone"></i>
                    <h2 class="card-contact-title">Phone number</h2>
                    <p class="card-contact-info">+91 9971694529</p>
                </div>
                <div class="card-contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <h2 class="card-contact-title">Location</h2>
                    <p class="card-contact-info">Delhi</p>
                </div>
                <div
                    class="d-flex w-100 flex-column message-container"
                    style="margin: 0 30px"
                >
                    <h3 class="text-center mb-4">Message us</h3>
                    <div class="form">
                        <form id="form" method="post" action="/email">
                            <textarea
                                class="w-100"
                                required
                                id="textareaID"
                                name="message"
                            ></textarea>
                            <button
                                type="submit"
                                class="
                                    mx-auto
                                    w-100
                                    p-2
                                    mt-2
                                    btn btn-primary
                                    sendBtn
                                "
                            >
                                Send
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ourTeam mb-5">
        <h2 class="ourTeamHeadingm my-5" style="text-align: center">
            Our Team
        </h2>
        <div class="cards container">
            <div class="d-flex flex-wrap justify-content-around">
                <div
                    class="card"
                    style="width: 27%; min-width: 200px; min-height: 280px"
                >
                    <img
                        src="../assets/img/WhatsApp Image 2021-11-10 at 1.38.44 PM.jpeg"
                        class="card-img-top"
                        style="object-fit: cover"
                        alt="Krish Sethi"
                    />
                    <div class="card-body">
                        <h3 class="card-text text-center">Krish Sethi</h3>
                    </div>
                </div>
                <div
                    class="card card_second"
                    style="width: 27%; min-width: 200px; min-height: 280px"
                >
                    <img
                        src="../assets/img/WhatsApp Image 2021-11-12 at 6.25.15 PM.jpeg"
                        class="card-img-top"
                        style="object-fit: cover"
                        alt="Rohit Singh"
                    />
                    <div class="card-body">
                        <h3 class="card-text text-center">Rohit Singh</h3>
                    </div>
                </div>
                <div
                    class="card mt-5 mt-md-0"
                    style="width: 27%; min-width: 200px; min-height: 280px"
                >
                    <img
                        src="../assets/img/IMG-20211121-WA0006.jpg"
                        class="card-img-top"
                        style="object-fit: cover"
                        alt="Gaurav"
                    />
                    <div class="card-body">
                        <h3 class="card-text text-center">Gaurav Sood</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"
    ></script>
</section>

<%- include('footer.ejs') %>.
